*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "poppins",sans-serif;
}
body{
    color: rgb(5, 5, 5);
    background: rgb(247, 249, 248);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 5%;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    z-index: 100;
    justify-content: space-between;
    background-color: #000;
}
.logo{
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 1rem;
    text-decoration: none;
    color: rgb(249, 250, 250);
    transition: 0.3s;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.1s;
    
}
.logo span{
    color: aqua;
}
.header .navbar{
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.header .navbar a{
    font-size: 1.5rem;
    font-weight:600;
    padding: 1rem 1rem;
    text-decoration: none;
    color: #ededed;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.1s;
}
.header .navbar a:hover{
    color: aqua;
}
.header #toggler{
    display: none;
}
.header .fa-bars{
    font-size: 3rem;
    color: aqua;
    border-radius: 0.5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}

/* .home .container{
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: right;
    display: flex;
    align-items: center;
} */
/* .home .container-box{
    width: 50%;
    padding: 0;
    color: aqua;
}
.home .container .container-box .heading{
    font-size: 4rem;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.1s;
}
.home .container .container-box h3{
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    opacity: 0;
    transition: 0.3s;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.4s;
}
.home .container .container-box p{
    padding: 1rem 0;
    font-size: 1rem;
    color: #fff;
    opacity: 0;
    transition: 1s;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.3s;
}
.btn-box{
    display: inline-block;
    background: #0ef;
    margin-top: 1rem;
    padding: 12px 28px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,0 0 25px #0ef;
}
.btn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
      0 0 200px cyan; 
}*/
.home .container{
    height: 100vh;
    width: 100%;
    /* position: relative; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    margin: 4.8rem 0;

}
.home .container .item1{
    grid-area: 1/1/2/3;
    background: url(./assets/top-slidebar/bg1.avif);
    background-size: cover;
    /* width: 100%;
    height: 100%; */
    animation: animate 20s infinite;
}
@keyframes animate{
    20%{
        background:url(./assets/top-slidebar/bg2.avif);
        background-size: cover;
    }
    40%{
        background:url(./assets/top-slidebar/bg3.avif);
        background-size: cover;
    }
    60%{
        background:url(./assets/top-slidebar/bg4.avif);
        background-size: cover;
    }
    80%{
        background:url(./assets/top-slidebar/bg5.avif);
        background-size: cover;
    }
    0%{
        background:url(./assets/top-slidebar/bg6.avif);
        background-size: cover;
    }
    100%{
        background:url(./assets/top-slidebar/bg1.avif);
        background-size: cover;
    }
}
.home .container .item2{
    grid-area: 2/1/4/2;
}

.image-container #image{
    width: 100%;
    height: 100%;
}

.products .container .container-box{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 7rem;
}
.products .container .container-box .box{
    flex: 1 1 300px;
    box-shadow: 0 0.5rem 1.5rem rgb(6, 219, 223);
    border-radius: 0.5rem;
    border: .1rem solid rgba(207, 238, 6, 0.1);
    position: relative;
    /* height: 300px; */
}

.products .container .container-box .box .discount{
    position: absolute;
    top: .5rem;
    left: .5rem;
    padding: .2rem .4rem;
    font-size: 2rem;
    color: #e907f1f3;
    background: rgb(248, 201, 247);
    z-index: 1;
    border-radius: .5rem;
}
.products .container .container-box .box .image{
    position: relative;
    text-align: center;
    /* padding-top: 2rem; */
    overflow: hidden;

}
.products .container .container-box .box .image img{
    width: 100%;
    height: 100%;

}
.products .container .container-box .box:hover .image img{
    transform: scale(1.1);
}
.products .container-box .box .image .icons{
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    display: flex;
}
.products .container-box .box:hover .image .icons{
    bottom: 0;
}
.products .container-box .box .image .icons a{
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    width: 50%;
    background: rgb(229, 5, 143);
    color: #fff;
    text-decoration: none;
}
.products .container-box .box .image .icons a:hover{
    background: #f4efef;
    color:rgb(229, 5, 143) ;
}
.products .container-box .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
    /* text-decoration: none; */
}
.products .container-box .box .content{
    padding: 1rem;
    text-align: center;
}
.products .container-box .box .content h3{
    font-size: 2rem;
    color: #f1eeee ;
}
.products .container-box .box .content .price{
    font-size: 1.5rem;
    color: rgb(243, 8, 172);
    font-weight: bolder;
    padding-top: 0.5rem;

}
.products .container-box .box .content .price span{
    font-size: 1rem;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;

}
.heading{
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
}
.heading span{
    color: #0ef;
}
.services .container{
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 5rem;
    justify-content: space-between;
    
    
}
.services .container .icons img{
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    height: 70%;
}
.services .heading{
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
}
.services .heading span{
    color: rgb(229, 5, 143);
}
/* .services .container .icons:hover img{
    transform: scale(1.2);
} */
.services .container .icons {
     width: 250px;
     height: 300px;
     margin: 2rem 2rem;
     padding: 2rem;
     /* box-shadow: 0, 0, 0, .1 rgb(229, 5, 143); */
     box-shadow: 0 .2rem 1rem rgb(229, 5, 143);
     border-radius: 10px;
     border: 1px solid rgb(229, 5, 143);
}
.services .container .icons .info{
    padding: .5rem;
    text-align: center;
    line-height: 1.5rem;
}
.services .container .icons .info h3{
    font-size: 20px;
    font-weight: 600;
    color: rgb(229, 5, 143);
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 3rem;
    justify-content: space-between;
    /* flex: 1 1 30px; */
}
.review .box-container .box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 5rem;
    margin: 2rem;
    box-shadow: 0 .2rem 1rem #F624F9;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #F624F9;
    /* background: linear-gradient(rgb(255, 242, 0),orange,rgb(235, 31, 65),rgb(211, 7, 211),blue); */
    
}
.review .box-container .box p{
    margin-bottom: 2rem;
}
.review .box-container .box .stars{
    margin-bottom: 1.5rem;
    font-size: 20px;
    color: #F624F9;
}
.review .heading{
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
}
.review .heading span{
    color: #F624F9;

}
.review .box-container .box .user{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.review .box-container .box .user .user-info h3{
    font-size: 20px;
    font-weight: 500;
    margin-right: 6rem;
}
.review .box-container .box .user .user-info span{
    font-size: 15px;
    margin-right: 6rem;
}
.review .box-container .box .user span{
    font-size: 25px;
}
.review .box-container .box img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 1rem;
    padding: 2.5px;
    background: #F624F9;
}

.contact .container-box{
    display: flex;
    /* flex-direction: column; */
    margin-top: 1rem;
}
.contact .container-box form{
    width: 50% ;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}
.contact .container-box .box{
    margin-bottom: 1rem;
    height: 50px;
    font-size: 20px;
    color: #000;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 10px;
}
.contact .container-box .image{
    width: 50%;
    padding: 3rem;
}

.contact .container-box .image img{
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.contact .container-box form textarea{
    height: 200px;
    font-size: 20px;
    padding: 1rem;
    border: 2px solid black;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.contact .container-box form .btn{
    background: #fff;
    padding: 0.5rem;
    font-size: 20px;
    border-radius: 35px;
    border: 2px solid #000;
    width: 150px;
    align-self: center;
    color: #000;
}
.contact .container-box form .btn:hover{
    background: rgb(246, 255, 0);
    color: #000;
}










@media(min-width: 318px) and (max-width: 767px){
    .header .fa-bars{
        display: block;
        background: #67c4f2;
        color: #3c3535;
        padding: 1rem 1.5rem;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: .1rem solid rgba(0,0,0,.1);

    }
    .header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    .header .navbar a{
        background: #180038;
        color: #fff;
        width: 100%;
        display: block;
        font-size: 1rem;
        border-bottom: #dcd0d0 solid;
        
    }
   
}
@media (min-width: 768px) and (max-width: 1056px) {
    .header{
        padding: .5rem 2%;
        background: #000;
    }
    .logo{
        font-size: 1.5rem;
        font-weight: 600;
        padding: .5rem .5rem;

    }
    .header .navbar a{
        font-size: 1rem;
        font-weight:600;
        padding: .5rem .5rem;
    }
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
}
@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
    
}


